# è³‡æ–™å‰è™•ç†(Missing data, One-hot encoding, Feature Scaling)
è³‡æ–™çš„å“è³ªã€ç‰¹å¾µçš„é¸å–æ±ºå®šäº†æ©Ÿå™¨å­¸ç¿’çš„ä¸Šé™ï¼Œæ¨¡å‹(Model)åªæ˜¯é€¼è¿‘é€™å€‹ä¸Šé™ã€‚<br>
é›–ç„¶åœ¨å­¸è¡“ç•Œç¸½æ˜¯ä»¥Modelç‚ºä¸»è¦è¨è«–å°è±¡ï¼Œä½†å¯¦éš›ä¸Šåœ¨æ¥­ç•Œ80%çš„æ™‚é–“éƒ½æ˜¯åœ¨å°è³‡æ–™é€²è¡Œå‰è™•ç†ï¼Œ<br>
åŒ…å«äº†è³‡æ–™ç²å–ã€æ¸…ç†ã€ç‰¹å¾µé¸æ“‡ã€ç‰¹å¾µè™•ç†â€¦åˆ°é€™è£¡æˆ‘å€‘å¯ä»¥ç¨å¾®äº†è§£è³‡æ–™å‰è™•ç†çš„é‡è¦æ€§ã€‚<br>

å¸¸è¦‹çš„è³‡æ–™å‰è™•ç†å¦‚ä¸‹æ‰€ç¤ºï¼š<br>
1.ç¼ºå¤±å€¼çš„è™•ç†<br>
2.é¡åˆ¥è³‡æ–™çš„è™•ç†ï¼ˆæœ‰åºã€ç„¡åºï¼‰<br>
3.è³‡æ–™ç‰¹å¾µç¸®æ”¾<br>

In [3]:
import numpy as np
import pandas as pd
from sklearn import datasets
from io import StringIO
import math

## 1. ç¼ºå¤±å€¼çš„è™•ç†
ç¼ºå€¼ä¸»è¦è™•ç†æ–¹å¼æœ‰å…©ç¨®ï¼š<br>
*ä¸Ÿæ£„ï¼Œå¦‚æœè³‡æ–™é‡å¤ å¤š<br>
*è£œå€¼<br>

In [4]:
csv_data = '''A,B,C,D,E
            5.0,2.0,3.0,,6
            1.0,6.0,,8.0,5
            0.0,11.0,12.0,4.0,5
            3.0,,3.0,5.0,
            5.0,1.0,4.0,2.0,4
           '''
df = pd.read_csv(StringIO(csv_data))

In [5]:
df = pd.read_csv('preText.csv')

In [6]:
df

     A     B     C    D    E
0  5.0   2.0   3.0  NaN  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   NaN   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

## Missing Data(ç©ºå€¼è³‡æ–™è™•ç†)

ä½¿ç”¨Pandaså»ç©ºå€¼çš„æ–¹æ³•â€œdropnaâ€ï¼Œdropnaé è¨­åªè¦ä»»ä¸€æ¬„ä½æœ‰ç©ºå€¼ï¼Œå°±æœƒæ•´ç­†åˆªæ‰ã€‚<br>
å¯é€éåƒæ•¸ä¾†èª¿æ•´ï¼Œåƒæ˜¯æŠŠhowè¨­ç‚ºallï¼Œå°±æ˜¯è¦å…¨éƒ¨ç‚ºç©ºæ‰æ¸…æ‰ï¼Œæˆ–æ˜¯ç”¨subsetæŒ‡å®šç•¶æŸä¸€æ¬„ç‚ºç©ºæ™‚æ‰åˆªã€‚

In [13]:
df.dropna()#dropna ä¸€ç›´æ‰“éŒ¯ğŸ˜‚

     A     B     C    D    E
2  0.0  11.0  12.0  4.0  5.0
4  5.0   1.0   4.0  2.0  4.0

In [10]:
df.dropna(how='all')

     A     B     C    D    E
0  5.0   2.0   3.0  NaN  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   NaN   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

In [11]:
df.dropna(subset=['C'])

     A     B     C    D    E
0  5.0   2.0   3.0  NaN  6.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   NaN   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

è£œå€¼å‰‡ä½¿ç”¨fillnaå‡½å¼å³å¯ï¼Œä¾ç…§ä»¥ä¸‹ç¯„ä¾‹å³å¯è£œä¸Šå›ºå®šå€¼0ã€å¹³å‡æ•¸ã€çœ¾æ•¸ã€ä¸­ä½æ•¸â€¦

In [14]:
df.fillna(0)

     A     B     C    D    E
0  5.0   2.0   3.0  0.0  6.0
1  1.0   6.0   0.0  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   0.0   3.0  5.0  0.0
4  5.0   1.0   4.0  2.0  4.0

In [15]:
df['B'].fillna(df['B'].mean())
df

     A     B     C    D    E
0  5.0   2.0   3.0  NaN  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   NaN   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

In [16]:
df['C'].fillna(df['C'].mode())
df

     A     B     C    D    E
0  5.0   2.0   3.0  NaN  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   NaN   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

In [17]:
df['C'].fillna(df['C'].mode()[0])
df

     A     B     C    D    E
0  5.0   2.0   3.0  NaN  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   NaN   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

In [19]:
df['D']=df['D'].fillna(df['D'].median())
df

     A     B     C    D    E
0  5.0   2.0   3.0  4.5  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   NaN   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

## 2.Categorical Data(é¡åˆ¥è³‡æ–™è™•ç†)
ç”±æ–¼è¦åœ¨ç©ºé–“ä¸­è¡¨ç¤ºé»ï¼Œæ‰€æœ‰çš„ç‰¹å¾µéƒ½éœ€è¦æ˜¯æ•¸å€¼ï¼Œå› æ­¤å¦‚æœæ˜¯é¡åˆ¥çš„è³‡æ–™ï¼Œ<br>
åƒæ˜¯XL,L,M,S,XSæˆ–æ˜¯è³‡æ–™é¡åˆ¥ç‚ºMale, Female, Not Specifiedï¼Œå°±éœ€è¦è½‰æˆæ•¸å€¼æ‰èƒ½åœ¨ç©ºé–“ä¸­ä¾†è¡¨ç¤ºã€‚<br>
æœ‰åºçš„é¡åˆ¥è³‡æ–™é€šå¸¸æ˜¯ç›´æ¥ä½¿ç”¨æ•¸å€¼æ›¿æ›ï¼Œæ¯”æ–¹èªªXL, L, M, S, XSé›–ç„¶æ˜¯é¡åˆ¥çš„å±¬æ€§ä½†å› ç‚ºæœ‰å¤§å°é †åºçš„é—œä¿‚ï¼Œå¯ä»¥ç”¨10, 7 , 5, 3, 1ä¾†æ›¿æ›ã€‚<br>å¦‚æœæ˜¯Male, Female, Not Specifiedå› ç‚ºé€™ä¸‰ç¨®éƒ½æ˜¯ç­‰åƒ¹çš„é—œä¿‚å› æ­¤éœ€è¦æ‰¾ä¸€å€‹æ–¹æ³•è®“é€™ä¸‰å€‹å±¬æ€§è·é›¢åŸé»æ˜¯ç›¸åŒè·é›¢ï¼Œ<br>
One-hot encoding å°±æ˜¯è§£æ±ºé€™çš„å•é¡Œçš„æ–¹æ³•ï¼Œé¦–å…ˆæœƒå°‡Male, Female, Not Specifiedç”±Genderå¾æˆä¸€å€‹æ¬„ä½æ‹†æˆä¸‰å€‹æ¬„ä½ï¼Œ<br>
å› æ­¤ç·¨è™Ÿ1çš„ä½¿ç”¨è€…çš„å±¬æ€§è³‡æ–™å°±æ˜¯(1,0,0)ç·¨è™Ÿ2çš„ä½¿ç”¨è€…å°±æ˜¯(0,1,0) ç·¨è™Ÿä¸‰å€‹ä½¿ç”¨è€…å°±æ˜¯(0,0,1)é€™ä¸‰å€‹ä½¿ç”¨è€…å°æ–¼åŸé»çš„è·é›¢éƒ½æ˜¯1ï¼Œå°±é”æˆæˆ‘å€‘æƒ³è¦çš„çµæœäº†ã€‚<br>
ä½†One-hot encodingçš„æ–¹æ³•åªé©åˆé¡åˆ¥ç¨®é¡å°‘çš„å½¢æ³ä¸‹ï¼Œå¦‚æœé¡åˆ¥ç¨®é¡å¤ªå¤šå°±æœƒç”¢ç”Ÿå‡ºä¸€å¤§å †çš„ç‰¹å¾µï¼Œé€ æˆå…¶ä»–çš„å•é¡Œï¼ˆæ¯”æ–¹èªªç¶­æ•¸ç½é›£ï¼‰ã€‚

In [20]:
df2 = pd.DataFrame(
    [['green', 'M', 10.1, 1],
    ['red', 'L', 13.5, 2],
    ['blue', 'XL', 15.3, 1]]
)
df2.columns = ['color', 'size', 'price', 'classlabel']
df2

   color size  price  classlabel
0  green    M   10.1           1
1    red    L   13.5           2
2   blue   XL   15.3           1

ç”±æ–¼sizeæ˜¯å±¬æ–¼æœ‰åºçš„è³‡æ–™ï¼Œæˆ‘å€‘åªè¦ç¨å¾®è½‰æ›ç‚ºæ•¸å€¼å³å¯

In [23]:
size_mapping = {'XL':3, 'L':2, 'M':1}
df2['size']=df2['size'].map(size_mapping)
df2

   color  size  price  classlabel
0  green     1   10.1           1
1    red     2   13.5           2
2   blue     3   15.3           1

è‡³æ–¼coloræˆ‘å€‘å°±ç”¨onehot-encodingçš„æ–¹æ³•ä¾†è™•ç†ï¼Œåœ¨pandasè£¡é¢è¦ä½¿ç”¨<br>
onehot-encodingä½¿ç”¨get_dummiesé€™å€‹å‡½å¼å°±å¯ä»¥äº†ï¼Œç¯„ä¾‹å¦‚ä¸‹

In [28]:
onehot_encoding=pd.get_dummies(df2['color'],prefix='color')
onehot_encoding

   color_blue  color_green  color_red
0           0            1          0
1           0            0          1
2           1            0          0

In [36]:
df2=df2.drop('size',1)

/var/folders/_5/y3fp7m6n4mz36w__0vxz56zc0000gp/T/ipykernel_12649/1246167740.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df2=df2.drop('size',1)

In [37]:
df2

   price  classlabel
0   10.1           1
1   13.5           2
2   15.3           1

In [38]:
pd.concat([onehot_encoding,df2],axis=1)

   color_blue  color_green  color_red  price  classlabel
0           0            1          0   10.1           1
1           0            0          1   13.5           2
2           1            0          0   15.3           1

# 3.è³‡æ–™ç‰¹å¾µç¸®æ”¾
## è³‡æ–™æ­£è¦åŒ–(normalization)
æœ€å¸¸è¦‹çš„Normalizationç‚º0â€“1å€é–“ç¸®æ”¾ï¼Œç¶“éNormalizationä¹‹å¾Œè³‡æ–™çš„ç¯„åœæœƒä»‹åœ¨0~1ä¹‹é–“ï¼Œ<br>
åŸæœ¬çš„æœ€å¤§å€¼è®Šç‚º1ï¼Œæœ€å°å€¼è®Šç‚º0ï¼Œå…·é«”ä½œæ³•å¦‚ä¸‹åœ–

In [2]:
from IPython.display import Math

In [3]:
Math(r'x^{(i)}_{norm}=\frac{x^{(i)}-x_{min}}{x_{max}-x_{min}}')

In [41]:
import numpy as np
import pandas as pd
from sklearn import datasets
from io import StringIO

iris = datasets.load_iris()
x = pd.DataFrame(iris['data'], columns=iris['feature_names'])
print("target_names: "+str(iris['target_names']))
y = pd.DataFrame(iris['target'], columns=['target_names'])
data = pd.concat([x,y], axis=1)
data.head(3)

target_names: ['setosa' 'versicolor' 'virginica']

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [45]:
data['sepal length (cm)']=(data['sepal length (cm)']-data['sepal length (cm)'].min())/\
                          (data['sepal length (cm)'].max()-data['sepal length (cm)'].min())
data['sepal width (cm)']=(data['sepal width (cm)']-data['sepal width (cm)'].min())/\
                          (data['sepal width (cm)'].max()-data['sepal width (cm)'].min())
data['sepal length (cm)']=(data['sepal length (cm)']-data['sepal length (cm)'].min())/\
                          (data['sepal length (cm)'].max()-data['sepal length (cm)'].min())
data['sepal width (cm)']=(data['sepal width (cm)']-data['sepal width (cm)'].min())/\
                          (data['sepal width (cm)'].max()-data['sepal width (cm)'].min())
data.head()
#æ‹¼å¯«éŒ¯èª¤ type error å‡ºç¾

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
0,0.222222,0.625000,1.4,0.2,0
1,0.166667,0.416667,1.4,0.2,0
2,0.111111,0.500000,1.3,0.2,0
3,0.083333,0.458333,1.5,0.2,0
4,0.194444,0.666667,1.4,0.2,0

## è³‡æ–™æ¨™æº–åŒ–(Standardization)
ç¶“éStandardizationè³‡æ–™çš„å¹³å‡å€¼æœƒè®Šç‚º0, æ¨™æº–å·®è®Šç‚º1

In [4]:
Math(r'x^{(i)}_{std}=\frac{x^{(i)}-\mu_{x}}{\sigma_{x}}')

In [47]:
data['sepal length (cm)']=(data['sepal length (cm)']-data['sepal length (cm)'].mean())/\
                           (data['sepal length (cm)'].std())
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
0,-0.897674,0.625000,1.4,0.2,0
1,-1.139200,0.416667,1.4,0.2,0
2,-1.380727,0.500000,1.3,0.2,0
3,-1.501490,0.458333,1.5,0.2,0
4,-1.018437,0.666667,1.4,0.2,0